@import "~bootstrap/scss/bootstrap";
@mixin bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
body{
    background-image: url("../assets/images/mainPicture.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
}
.meals{
   
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
   
   
    .meal {
        box-sizing: border-box;
        width: 100%;
        padding: 2rem;
        color: white;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        border-radius: 2rem;
       
  
    }
    .hot-meals{
        background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/hotMeals.jpg');
        @include bg;
    }
    .salads{
        background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/saladjpg.jpg');
        @include bg;
    }
    .desserts{
        background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/desserts.jpg');
        @include bg;
    }
        
    .breakfasts{
        
        background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/breackfasts.jpg');
        @include bg;
       
        
    }
}
.catagory{
    .general-information{
        padding: 1rem;
    }
    padding: 1rem;
    margin-top: 6rem;
    background-color: white;
    border-radius: 3rem;
}
