@import "~bootstrap/scss/bootstrap";
@mixin bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
body{
    margin-bottom: 70px;
    background-image: url("../assets/images/mainPicture.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
    .arrow{
        position:fixed;
        left: 1rem;
        top:1rem;
        width: 40px;
        background-color: white;
        border-radius: 20px;
        display: none;
        z-index: 1;
        box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.75);
    }
}
.meals{
   
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
   
   
    .meal {
        box-sizing: border-box;
        width: 100%;
        padding: 2.5rem;
        color: white;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        border-radius: 2rem;
       
  
    }
    .images{
        background-image:url('../assets/images/hotMeals.jpg');
        background-image:url('../assets/images/saladjpg.jpg');
        background-image:url('../assets/images/desserts.jpg');
        background-image:url('../assets/images/breackfasts.jpg');
        background-image:url('../assets/images/dumplings.jpg');
        background-image:url('../assets/images/soup.jpg');
        background-image:url('../assets/images/burger.jpg');
        background-image:url('../assets/images/borscht.jpg');
        background-image:url('../assets/images/fishPancake.jpg');
        background-image:url('../assets/images/hotRolls.jpg');
        background-image:url('../assets/images/greekSalad.jpg');
        background-image:url('../assets/images/Guacamole.jpg');
        background-image:url('../assets/images/RaspberryMousse.jpg');
        background-image:url('../assets/images/VanillaIceCream.jpg');
        background-image:url('../assets/images/BrownieWithRaspberries.jpg');
        background-image:url('../assets/images/Cheesecake.jpg');
        background-image:url('../assets/images/BerryIceCream.jpg');
        background-image:url('../assets/images/camembert.jpg');
        background-image:url('../assets/images/FullEnglishBreakfast.jpg');
        background-image:url('../assets/images/Oatmeal.jpg');
        background-image:url('../assets/images/Cheesepancakeswithstrawberryjam.jpg');
        background-image:url('../assets/images/AvocadoToast.jpg');
        background-image:url('../assets/images/Catfishonpumpkinpuree.jpg');
        background-image:url('../assets/images/avogado.jpg');
        background-image:url('../assets/images/plus-circle.svg');
        background-image:url('../assets/images/plus.svg');
        background-image:url('../assets/images/dash.svg');
        
        
        
        
       }
    
}
.catagory{
    .general-information{
        padding: 1rem;
    }
    padding: 1rem;
    margin-top: 6rem;
    background-color: white;
    border-radius: 3rem;
}
.second-page {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .card{
        padding: 1rem;
        display: flex;
        img{
            border-radius: 2rem;
        }
    }
}
.price-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price{
        font-size: 1.5rem;
    }
    .pl{
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        background-color: rgb(247,144,108);
        img{
            width: 3rem;

        }
        
    }
    .quantity{
        display: none;
        column-gap: 0.5rem;
        align-items: center;
        span{
            font-size: 2rem;
            color: rgb(247,144,108);
            img{
                width: 3rem;
               
            }
           
        }
    }
}
.show-order{
    display: none;
    text-align: center;
    width: 100%;
    border-radius: 24px 24px 0 0;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #f7906c;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
    z-index: 2;
}
.orders{
    display:none;
    padding: 2rem;
    .card{
        padding: 1rem;
        margin-top: 1rem;
    }
}